<a href="https://colab.research.google.com/github/ArnoldoOliva/AprendizajeAutomatico/blob/main/FeatureSelection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np

In [4]:
pd.set_option("display.max_columns",None)
loans=pd.read_csv("/loansmodified1.csv")
loans

,NAICS,ApprovalDate,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,DisbursementDate,DisbursementGross,BalanceGross,paid,ChgOffPrinGr,GrAppv,SBA_Appv,busine,ID,same_state,APPROVALtimestamp,DISBURSEMENTtimestamp,timediff,Terms_comp
0,445299.0,2006-02-07,162.0,2.0,2.0,0.0,0.0,15100.0,1.0,0,0,2006-03-31,253400.0,0.0,1.0,0.0,253400.0,190050.0,1,12,0.0,1.139270e+09,1.143763e+09,4492800.0,NaN
1,722211.0,2006-02-07,126.0,7.0,1.0,0.0,0.0,1.0,1.0,0,0,2006-04-30,137300.0,0.0,1.0,0.0,137300.0,116705.0,2,24,0.0,1.139270e+09,1.146355e+09,7084800.0,NaN
2,611110.0,2006-02-07,83.0,18.0,2.0,5.0,23.0,1.0,1.0,1,0,2006-02-28,438541.0,0.0,1.0,0.0,100000.0,50000.0,3,28,0.0,1.139270e+09,1.141085e+09,1814400.0,ALto
3,238140.0,2006-02-07,84.0,4.0,1.0,0.0,4.0,1.0,1.0,1,0,2006-02-28,51440.0,0.0,1.0,0.0,35000.0,17500.0,4,30,1.0,1.139270e+09,1.141085e+09,1814400.0,ALto
4,532490.0,2006-02-07,60.0,3.0,1.0,0.0,0.0,1.0,1.0,0,0,2006-05-31,50000.0,0.0,1.0,0.0,50000.0,42500.0,5,32,1.0,1.139270e+09,1.149034e+09,9763200.0,ALto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17833,514199.0,2006-02-28,43.0,1.0,2.0,2.0,1.0,1.0,1.0,0,0,2006-03-31,5000.0,0.0,0.0,3460.0,5000.0,4250.0,17042,25897,1.0,1.141085e+09,1.143763e+09,2678400.0,ALto
17834,541613.0,2005-02-14,84.0,7.0,1.0,0.0,7.0,1.0,1.0,1,0,2005-08-31,75000.0,0.0,1.0,0.0,75000.0,37500.0,17041,25898,0.0,1.108339e+09,1.125446e+09,17107200.0,ALto
17835,541613.0,2005-02-14,84.0,7.0,1.0,0.0,7.0,1.0,1.0,1,0,2005-09-30,22711.0,0.0,1.0,0.0,5000.0,2500.0,17041,25899,0.0,1.108339e+09,1.128038e+09,19699200.0,ALto
17836,424310.0,2005-02-14,60.0,1.0,1.0,0.0,1.0,1.0,1.0,0,0,2005-07-31,37000.0,0.0,1.0,0.0,37000.0,18500.0,15663,25900,0.0,1.108339e+09,1.122768e+09,14428800.0,ALto
17837,541110.0,2005-02-14,84.0,5.0,1.0,0.0,5.0,1.0,1.0,0,0,2005-04-30,100000.0,0.0,1.0,0.0,100000.0,50000.0,17012,25901,0.0,1.108339e+09,1.114819e+09,6480000.0,ALto

In [18]:
from sklearn.feature_selection import SelectKBest, chi2 , mutual_info_regression
#LowDoc
numericalcolumns=["Term","NoEmp","NewExist","CreateJob","RetainedJob","UrbanRural","RevLineCr","DisbursementGross",	"BalanceGross",	"ChgOffPrinGr",
                  "GrAppv",	"SBA_Appv","same_state","LowDoc",	"APPROVALtimestamp",	"DISBURSEMENTtimestamp",	"timediff"]

loans2=loans[numericalcolumns]
X=loans2
y=loans['paid'].fillna(0)

#X_new = SelectKBest(chi2, k=5).fit_transform(X, y)
features = SelectKBest(k=7, score_func=mutual_info_regression)
print(features.fit(X, y).feature_names_in_)
names=features.fit(X, y).feature_names_in_
features.fit(X, y)
selectedfeatures = features.transform(X)
print("Num Features before:", X.shape[1])
print("Num Features after:", selectedfeatures.shape[1])

['Term' 'NoEmp' 'NewExist' 'CreateJob' 'RetainedJob' 'UrbanRural'
 'RevLineCr' 'DisbursementGross' 'BalanceGross' 'ChgOffPrinGr' 'GrAppv'
 'SBA_Appv' 'same_state' 'LowDoc' 'APPROVALtimestamp'
 'DISBURSEMENTtimestamp' 'timediff']
Num Features before: 17
Num Features after: 7

In [19]:
colselected = features.get_support(indices=True)
loans_sel = loans2.iloc[:,colselected]
loans_sel

,Term,RevLineCr,DisbursementGross,ChgOffPrinGr,GrAppv,SBA_Appv,DISBURSEMENTtimestamp
0,162.0,0,253400.0,0.0,253400.0,190050.0,1.143763e+09
1,126.0,0,137300.0,0.0,137300.0,116705.0,1.146355e+09
2,83.0,1,438541.0,0.0,100000.0,50000.0,1.141085e+09
3,84.0,1,51440.0,0.0,35000.0,17500.0,1.141085e+09
4,60.0,0,50000.0,0.0,50000.0,42500.0,1.149034e+09
...,...,...,...,...,...,...,...
17833,43.0,0,5000.0,3460.0,5000.0,4250.0,1.143763e+09
17834,84.0,1,75000.0,0.0,75000.0,37500.0,1.125446e+09
17835,84.0,1,22711.0,0.0,5000.0,2500.0,1.128038e+09
17836,60.0,0,37000.0,0.0,37000.0,18500.0,1.122768e+09
17837,84.0,0,100000.0,0.0,100000.0,50000.0,1.114819e+09

In [10]:
nonselected=[e for e in numericalcolumns if e not in loans_sel.columns]
nonselected

['NoEmp', 'NewExist', 'RetainedJob', 'UrbanRural', 'BalanceGross', 'SBA_Appv']

In [20]:
print("Las variables seleccionadas de acuerdo a SelectKBest fueron: ",list(loans_sel.columns))
print("Las variables eliminadas de acuerdo a SelectKBest fueron: ",nonselected)

Las variables seleccionadas de acuerdo a SelectKBest fueron:  ['Term', 'RevLineCr', 'DisbursementGross', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv', 'DISBURSEMENTtimestamp']
Las variables eliminadas de acuerdo a SelectKBest fueron:  ['NoEmp', 'NewExist', 'RetainedJob', 'UrbanRural', 'BalanceGross', 'SBA_Appv']

# Selección de características:

In [21]:
loans[numericalcolumns]

,Term,NoEmp,NewExist,CreateJob,RetainedJob,UrbanRural,RevLineCr,DisbursementGross,BalanceGross,ChgOffPrinGr,GrAppv,SBA_Appv,same_state,LowDoc,APPROVALtimestamp,DISBURSEMENTtimestamp,timediff
0,162.0,2.0,2.0,0.0,0.0,1.0,0,253400.0,0.0,0.0,253400.0,190050.0,0.0,0,1.139270e+09,1.143763e+09,4492800.0
1,126.0,7.0,1.0,0.0,0.0,1.0,0,137300.0,0.0,0.0,137300.0,116705.0,0.0,0,1.139270e+09,1.146355e+09,7084800.0
2,83.0,18.0,2.0,5.0,23.0,1.0,1,438541.0,0.0,0.0,100000.0,50000.0,0.0,0,1.139270e+09,1.141085e+09,1814400.0
3,84.0,4.0,1.0,0.0,4.0,1.0,1,51440.0,0.0,0.0,35000.0,17500.0,1.0,0,1.139270e+09,1.141085e+09,1814400.0
4,60.0,3.0,1.0,0.0,0.0,1.0,0,50000.0,0.0,0.0,50000.0,42500.0,1.0,0,1.139270e+09,1.149034e+09,9763200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17833,43.0,1.0,2.0,2.0,1.0,1.0,0,5000.0,0.0,3460.0,5000.0,4250.0,1.0,0,1.141085e+09,1.143763e+09,2678400.0
17834,84.0,7.0,1.0,0.0,7.0,1.0,1,75000.0,0.0,0.0,75000.0,37500.0,0.0,0,1.108339e+09,1.125446e+09,17107200.0
17835,84.0,7.0,1.0,0.0,7.0,1.0,1,22711.0,0.0,0.0,5000.0,2500.0,0.0,0,1.108339e+09,1.128038e+09,19699200.0
17836,60.0,1.0,1.0,0.0,1.0,1.0,0,37000.0,0.0,0.0,37000.0,18500.0,0.0,0,1.108339e+09,1.122768e+09,14428800.0
17837,84.0,5.0,1.0,0.0,5.0,1.0,0,100000.0,0.0,0.0,100000.0,50000.0,0.0,0,1.108339e+09,1.114819e+09,6480000.0

In [22]:
loans[[e for e in loans.columns if e not in numericalcolumns]] #no trabajamos con estas debi

,NAICS,ApprovalDate,FranchiseCode,DisbursementDate,paid,busine,ID,Terms_comp
0,445299.0,2006-02-07,15100.0,2006-03-31,1.0,1,12,NaN
1,722211.0,2006-02-07,1.0,2006-04-30,1.0,2,24,NaN
2,611110.0,2006-02-07,1.0,2006-02-28,1.0,3,28,ALto
3,238140.0,2006-02-07,1.0,2006-02-28,1.0,4,30,ALto
4,532490.0,2006-02-07,1.0,2006-05-31,1.0,5,32,ALto
...,...,...,...,...,...,...,...,...
17833,514199.0,2006-02-28,1.0,2006-03-31,0.0,17042,25897,ALto
17834,541613.0,2005-02-14,1.0,2005-08-31,1.0,17041,25898,ALto
17835,541613.0,2005-02-14,1.0,2005-09-30,1.0,17041,25899,ALto
17836,424310.0,2005-02-14,1.0,2005-07-31,1.0,15663,25900,ALto
17837,541110.0,2005-02-14,1.0,2005-04-30,1.0,17012,25901,ALto