In [1]:
import pandas as pd
import numpy as np

In [16]:
path="C:/Users/HUGO/Desktop/Maestria en CIENCIA DE DATOS UANL/Aprendizaje automatico/"
pd.set_option("display.max_columns",None)
loans=pd.read_csv(path+"SBAnational.csv")
loans

C:\Users\HUGO\anaconda\envs\project2\lib\site-packages\IPython\core\interactiveshell.py:2714: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,84,4,2.0,0,0,1,0,N,Y,NaN,28-Feb-99,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$48,000.00"
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,60,2,2.0,0,0,1,0,N,Y,NaN,31-May-97,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,180,7,1.0,0,0,1,0,N,N,NaN,31-Dec-97,"$287,000.00",$0.00,P I F,$0.00,"$287,000.00","$215,250.00"
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,60,2,1.0,0,0,1,0,N,Y,NaN,30-Jun-97,"$35,000.00",$0.00,P I F,$0.00,"$35,000.00","$28,000.00"
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,240,14,1.0,7,7,1,0,N,N,NaN,14-May-97,"$229,000.00",$0.00,P I F,$0.00,"$229,000.00","$229,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899159,9995573004,FABRIC FARMS,UPPER ARLINGTON,OH,43221,JPMORGAN CHASE BANK NATL ASSOC,IL,451120,27-Feb-97,1997,60,6,1.0,0,0,1,0,0,N,NaN,30-Sep-97,"$70,000.00",$0.00,P I F,$0.00,"$70,000.00","$56,000.00"
899160,9995603000,FABRIC FARMS,COLUMBUS,OH,43221,JPMORGAN CHASE BANK NATL ASSOC,IL,451130,27-Feb-97,1997,60,6,1.0,0,0,1,0,Y,N,NaN,31-Oct-97,"$85,000.00",$0.00,P I F,$0.00,"$85,000.00","$42,500.00"
899161,9995613003,"RADCO MANUFACTURING CO.,INC.",SANTA MARIA,CA,93455,"RABOBANK, NATIONAL ASSOCIATION",CA,332321,27-Feb-97,1997,108,26,1.0,0,0,1,0,N,N,NaN,30-Sep-97,"$300,000.00",$0.00,P I F,$0.00,"$300,000.00","$225,000.00"
899162,9995973006,"MARUTAMA HAWAII, INC.",HONOLULU,HI,96830,BANK OF HAWAII,HI,0,27-Feb-97,1997,60,6,1.0,0,0,1,0,N,Y,8-Mar-00,31-Mar-97,"$75,000.00",$0.00,CHGOFF,"$46,383.00","$75,000.00","$60,000.00"
899163,9996003010,PACIFIC TRADEWINDS FAN & LIGHT,KAILUA,HI,96734,CENTRAL PACIFIC BANK,HI,0,27-Feb-97,1997,48,1,2.0,0,0,1,0,N,N,NaN,31-May-97,"$30,000.00",$0.00,P I F,$0.00,"$30,000.00","$24,000.00"

In [17]:
from datetime import datetime
datescolumns=[e for e in loans.columns if "Date" in e]
for e in datescolumns:
    loans[e]=pd.to_datetime(loans[e],errors="coerce")
#loans.dtypes

In [18]:
loans=loans[loans['ApprovalDate']<"2023"] #parse errors
loans.sort_values("ApprovalDate")

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
191915,2357951001,WINSLOW CORP,BERLIN,NJ,8009,"PNC BANK, NATIONAL ASSOCIATION",NJ,0,1973-02-06,1973,120,5,1.0,0,0,0,0,N,N,1991-05-13,1973-02-27,"$200,000.00",$0.00,CHGOFF,"$199,955.00","$200,000.00","$180,000.00"
430177,4160941004,THE BUCKSKIN,QUEMADO,NM,87829,FIRST STATE BANK,NM,0,1973-02-14,1973,230,2,1.0,0,0,0,0,N,N,1990-07-03,1973-06-08,"$155,000.00",$0.00,CHGOFF,"$71,574.00","$155,000.00","$139,500.00"
362268,3527741006,MOBICENTRICS INC,BRONX,NY,10451,BANK OF AMERICA NATL ASSOC,NY,0,1973-02-23,1973,180,16,1.0,0,0,0,0,N,N,1992-08-31,1973-03-29,"$150,000.00",$0.00,CHGOFF,"$10,471.00","$150,000.00","$135,000.00"
322612,3227931002,AMERICANA INSTITUTE OF DAY CAR,GLEN ARDEN,MD,20027,BANK OF AMERICA NATL ASSOC,VA,0,1973-02-28,1973,120,1,2.0,0,0,0,0,N,N,1996-12-05,1973-04-12,"$70,000.00",$0.00,CHGOFF,$0.00,"$70,000.00","$63,000.00"
513925,4970811002,A. JONES C/O J. MCCULLOUGH ESQ,CHICAGO,IL,60604,"PNC BANK, NATIONAL ASSOCIATION",IL,0,1973-03-06,1973,60,1,2.0,0,0,0,0,N,N,1989-01-25,1973-03-13,"$2,500.00",$0.00,NaN,"$1,540.00","$2,500.00","$2,250.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673911,6895265007,MARK DEMATTIA INCORPORATED,EWA BEACH,HI,96706,CENTRAL PACIFIC BANK,HI,492210,2014-06-12,2014,60,0,2.0,0,0,0,1,N,N,NaT,2014-06-12,"$50,000.00",$0.00,P I F,$0.00,"$50,000.00","$25,000.00"
674448,6905665003,PURSUIT SPORTS MEDICINE LLC,PORTLAND,OR,97232,U.S. BANK NATIONAL ASSOCIATION,OH,621111,2014-06-18,2014,60,1,1.0,0,1,0,1,N,N,NaT,2014-06-18,"$165,000.00",$0.00,P I F,$0.00,"$165,000.00","$82,500.00"
674606,6909725005,"Face Reality, Inc., dba Face R",San Leandro,CA,94577,CITY NATIONAL BANK,CA,325412,2014-06-19,2014,84,15,1.0,3,0,0,1,N,N,NaT,2014-06-19,"$150,000.00",$0.00,P I F,$0.00,"$150,000.00","$75,000.00"
674907,6914795009,HARDRIVES CONSTRUCTION INC,BILLINGS,MT,59103,BANK OF BRIDGER NATL ASSOC,MT,237310,2014-06-23,2014,6,30,1.0,0,30,0,2,Y,N,NaT,2014-06-23,"$210,000.00",$0.00,P I F,$0.00,"$210,000.00","$157,500.00"
675230,6920815009,TEDDY JEMES TRUCKING LLC,LEBANON,MO,65536,U.S. BANK NATIONAL ASSOCIATION,OH,484230,2014-06-25,2014,60,1,1.0,0,0,0,2,N,N,NaT,2014-06-25,"$13,500.00",$0.00,P I F,$0.00,"$13,500.00","$6,750.00"

In [19]:
loans=loans[(loans["ApprovalDate"]>"2000")&(loans["ApprovalDate"]<"2006")&
             (loans["DisbursementDate"]>"2000")&(loans["DisbursementDate"]<"2006")] #WORKING WITH LOANS WITHOUT ECONOMIC CRISIS:
loans

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
507,1003895000,Bob Plourde's Plumbing & Heati,Waterville,ME,4901,KEYBANK NATIONAL ASSOCIATION,OH,235110,2000-01-04,2000,47,20,1.0,0,0,1,2,Y,N,2005-12-28,2004-10-31,"$35,000.00",$0.00,CHGOFF,"$13,722.00","$35,000.00","$17,500.00"
509,1003905001,"Mail Boxes, Etc",Mount Kisco,NY,10549,KEYBANK NATIONAL ASSOCIATION,OH,0,2000-01-31,2000,60,2,2.0,0,0,50564,1,N,N,NaT,2000-05-31,"$120,000.00",$0.00,P I F,$0.00,"$120,000.00","$60,000.00"
512,1003915004,The Fine Art House,Derry (census name for Derry C,NH,3038,KEYBANK NATIONAL ASSOCIATION,OH,0,2000-02-01,2000,84,7,2.0,0,0,1,1,N,N,NaT,2000-03-31,"$20,000.00",$0.00,P I F,$0.00,"$20,000.00","$10,000.00"
514,1003935010,"Saul Stanley, Jr",Selkirk,NY,12158,KEYBANK NATIONAL ASSOCIATION,OH,0,2000-02-04,2000,48,1,2.0,0,0,1,1,N,N,NaT,2000-02-29,"$15,000.00",$0.00,P I F,$0.00,"$15,000.00","$7,500.00"
516,1003945002,Caribou Club,Syracuse,NY,13203,KEYBANK NATIONAL ASSOCIATION,OH,722410,2000-02-16,2000,84,55,2.0,0,0,1,1,N,N,NaT,2000-03-31,"$102,000.00",$0.00,P I F,$0.00,"$102,000.00","$51,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879716,9548334007,CONFORT KEEPERS,SHELBYVILLE,IN,46176,BBCN BANK,CA,624120,2005-12-30,2006,14,25,1.0,1,25,1,1,0,N,2011-11-08,2005-12-31,"$15,000.00",$0.00,CHGOFF,"$7,327.00","$15,000.00","$12,750.00"
879727,9548464000,NW TANKER SERVICES LLC,WOODLAND,WA,98674,"BUSINESS LOAN CENTER, LLC",SC,488210,2005-12-30,2006,252,5,2.0,0,5,1,2,0,N,NaT,2005-12-31,"$852,100.00",$0.00,P I F,$0.00,"$852,100.00","$639,075.00"
879807,9549984005,SUDDENLY PROFESSIONAL COUNSELI,RIVERDALE,GA,30296,BBCN BANK,CA,514199,2005-12-30,2006,84,1,1.0,0,1,1,1,0,N,NaT,2005-12-31,"$15,000.00",$0.00,P I F,$0.00,"$15,000.00","$12,750.00"
879868,9550864001,PROTEX MEDICAL PRODUCTS INC,WEST MONROE,LA,71291,BBCN BANK,CA,421450,2005-12-30,2006,84,5,1.0,2,5,1,1,0,N,NaT,2005-12-31,"$5,000.00",$0.00,P I F,$0.00,"$5,000.00","$4,250.00"
879964,9552064001,RGS COMMUNITIES LLC,PLAINVIEW,AR,72857,SIMMONS 1ST BK OF RUSSELLVILLE,AR,532490,2005-12-30,2006,38,3,1.0,0,3,1,2,0,N,NaT,2005-12-31,"$212,400.00",$0.00,P I F,$0.00,"$212,400.00","$106,200.00"

In [6]:
#print(loans[loans["ApprovalFY"]==2006]["MIS_Status"].value_counts(),2006)
print(loans[loans["ApprovalFY"]==2005]["MIS_Status"].value_counts(),2005)
print(loans[loans["ApprovalFY"]==2004]["MIS_Status"].value_counts(),2004)
print(loans[loans["ApprovalFY"]==2003]["MIS_Status"].value_counts(),2003)
print(loans[loans["ApprovalFY"]==2002]["MIS_Status"].value_counts(),2002)
print(loans[loans["ApprovalFY"]==2001]["MIS_Status"].value_counts(),2001)

P I F     32774
CHGOFF    13781
Name: MIS_Status, dtype: int64 2005
P I F     19070
CHGOFF     4427
Name: MIS_Status, dtype: int64 2004
P I F     48553
CHGOFF     8392
Name: MIS_Status, dtype: int64 2003
P I F     38655
CHGOFF     5177
Name: MIS_Status, dtype: int64 2002
P I F     32664
CHGOFF     4442
Name: MIS_Status, dtype: int64 2001

In [20]:
loans["business"] = pd.factorize(loans.Name)[0] + 1
#We don´t need some specific columns (like names, geographical specific locations, etc) so we will drop them :
dropcols=["Name","City","Zip","Bank","LoanNr_ChkDgt"]
cols=[e for e in loans.columns if e not in dropcols]
loans=loans[cols]
#loans.reset_index(inplace=True)
loans["index"]=loans.index
loans.rename(columns={"index":"ID"},inplace=True)
loans

C:\Users\HUGO\anaconda\envs\project2\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\HUGO\anaconda\envs\project2\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,State,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv,business,ID
507,ME,OH,235110,2000-01-04,2000,47,20,1.0,0,0,1,2,Y,N,2005-12-28,2004-10-31,"$35,000.00",$0.00,CHGOFF,"$13,722.00","$35,000.00","$17,500.00",1,507
509,NY,OH,0,2000-01-31,2000,60,2,2.0,0,0,50564,1,N,N,NaT,2000-05-31,"$120,000.00",$0.00,P I F,$0.00,"$120,000.00","$60,000.00",2,509
512,NH,OH,0,2000-02-01,2000,84,7,2.0,0,0,1,1,N,N,NaT,2000-03-31,"$20,000.00",$0.00,P I F,$0.00,"$20,000.00","$10,000.00",3,512
514,NY,OH,0,2000-02-04,2000,48,1,2.0,0,0,1,1,N,N,NaT,2000-02-29,"$15,000.00",$0.00,P I F,$0.00,"$15,000.00","$7,500.00",4,514
516,NY,OH,722410,2000-02-16,2000,84,55,2.0,0,0,1,1,N,N,NaT,2000-03-31,"$102,000.00",$0.00,P I F,$0.00,"$102,000.00","$51,000.00",5,516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879716,IN,CA,624120,2005-12-30,2006,14,25,1.0,1,25,1,1,0,N,2011-11-08,2005-12-31,"$15,000.00",$0.00,CHGOFF,"$7,327.00","$15,000.00","$12,750.00",276108,879716
879727,WA,SC,488210,2005-12-30,2006,252,5,2.0,0,5,1,2,0,N,NaT,2005-12-31,"$852,100.00",$0.00,P I F,$0.00,"$852,100.00","$639,075.00",276109,879727
879807,GA,CA,514199,2005-12-30,2006,84,1,1.0,0,1,1,1,0,N,NaT,2005-12-31,"$15,000.00",$0.00,P I F,$0.00,"$15,000.00","$12,750.00",276110,879807
879868,LA,CA,421450,2005-12-30,2006,84,5,1.0,2,5,1,1,0,N,NaT,2005-12-31,"$5,000.00",$0.00,P I F,$0.00,"$5,000.00","$4,250.00",276111,879868
879964,AR,AR,532490,2005-12-30,2006,38,3,1.0,0,3,1,2,0,N,NaT,2005-12-31,"$212,400.00",$0.00,P I F,$0.00,"$212,400.00","$106,200.00",276112,879964

In [21]:
loans["same_state"]=np.nan
loans.loc[loans["State"]==loans['BankState'],"same_state"]=1
loans.loc[loans["State"]!=loans['BankState'],"same_state"]=0

loans.drop(["State","BankState"],axis=1,inplace=True)
loans["same_state"].value_counts()

C:\Users\HUGO\anaconda\envs\project2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\HUGO\anaconda\envs\project2\lib\site-packages\pandas\core\indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\HUGO\anaconda\envs\project2\lib\site-packages\pandas\core\frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

0.0    169494
1.0    144211
Name: same_state, dtype: int64

In [22]:
loans.drop("ApprovalFY",axis=1,inplace=True)
loans.drop("ChgOffDate",axis=1,inplace=True)
loans["APPROVALtimestamp"] = loans.ApprovalDate.values.astype(np.int64) / 10 ** 9
loans["DISBURSEMENTtimestamp"] = loans.DisbursementDate.values.astype(np.int64) / 10 ** 9
loans["timediff"]=loans.DISBURSEMENTtimestamp-loans.APPROVALtimestamp

C:\Users\HUGO\anaconda\envs\project2\lib\site-packages\pandas\core\frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\HUGO\anaconda\envs\project2\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\HUGO\anaconda\envs\project2\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\HUGO\anaconda\envs\project2\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [23]:
print(loans["MIS_Status"].value_counts())
loans.rename(columns={"MIS_Status":"paid"},inplace=True)
loans.loc[loans["paid"]=="P I F","paid"]=1
loans.loc[loans["paid"]=="CHGOFF","paid"]=0
print(loans["paid"].value_counts())

C:\Users\HUGO\anaconda\envs\project2\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

P I F     257152
CHGOFF     55942
Name: MIS_Status, dtype: int64
1    257152
0     55942
Name: paid, dtype: int64

C:\Users\HUGO\anaconda\envs\project2\lib\site-packages\pandas\core\indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [24]:
cols=["DisbursementGross","BalanceGross","ChgOffPrinGr","GrAppv","SBA_Appv"]
for e in cols:
    loans[e]=loans[e].str.replace("$","")
    loans[e]=loans[e].str.replace(",","")
    loans[e]=loans[e].astype(float)
    print(loans[e].dtype)

C:\Users\HUGO\anaconda\envs\project2\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\HUGO\anaconda\envs\project2\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\HUGO\anaconda\envs\project2\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

float64
float64
float64
float64
float64

In [25]:
loans.loc[loans.Term<=92.45,"Terms_comp"]=0 #bajo
loans.loc[loans.Term<=92.45,"Terms_comp"]=1 #alto

C:\Users\HUGO\anaconda\envs\project2\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\HUGO\anaconda\envs\project2\lib\site-packages\pandas\core\indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\HUGO\anaconda\envs\project2\lib\site-packages\pandas\core\indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [26]:
print(loans["RevLineCr"].value_counts())
loans.loc[loans["RevLineCr"]=="0","RevLineCr"]=0
loans.loc[loans["RevLineCr"]=="Y","RevLineCr"]=1
loans.loc[(loans["RevLineCr"]=="N"),"RevLineCr"]=0
loans.loc[(~loans["RevLineCr"].isin([0,1])),"RevLineCr"]=np.nan
loans["RevLineCr"].value_counts()

0    148387
Y     87874
N     69187
T      8176
R        14
2         4
1         3
7         1
3         1
A         1
Name: RevLineCr, dtype: int64

C:\Users\HUGO\anaconda\envs\project2\lib\site-packages\pandas\core\indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

0    217574
1     87874
Name: RevLineCr, dtype: int64

In [28]:
loans["LowDoc"]=loans["LowDoc"].map(lambda x: 1 if x == "Y" else 0)
loans["LowDoc"].value_counts()

C:\Users\HUGO\anaconda\envs\project2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0    276425
1     37280
Name: LowDoc, dtype: int64

In [30]:
numericalcolumns=["Term","NoEmp","NewExist","CreateJob","RetainedJob","UrbanRural","RevLineCr","DisbursementGross",	"BalanceGross",	"ChgOffPrinGr",
                  "GrAppv",	"SBA_Appv","same_state","LowDoc",	"APPROVALtimestamp",	"DISBURSEMENTtimestamp",	"timediff"]

In [32]:
loans["SCIAN category"] = pd.factorize(loans.NAICS)[0] + 1
loans.loc[loans['NewExist']==0,"NewExist"]=np.nan
loans.loc[loans['UrbanRural']==0,"UrbanRural"]=np.nan

C:\Users\HUGO\anaconda\envs\project2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [37]:
loans.to_csv(path+"loansmodified1.csv",index=False)